<div class="content">
    <div class="searchEmployeeDependent">
        <div class="searchEmployee">
            <form class="formDiv" (submit)="searchEmployee()">
              <input id="searchTextEmp" class="search" type="text" (change)="onChangeEmployee($event)" placeholder="Search Employee" >
              <button type="submit" class="submitButton"><img style="cursor: pointer;" src="../../../assets/search-icon.png" alt=""></button>
            </form>
            <button (click)="resetEmployee()" class="resetEmp">Reset</button>
          </div>
          <div class="searchDependent">
            <form class="formDiv" (submit)="searchDependent()">
              <input id="searchTextDep" class="search" type="text" (change)="onChangeDependent($event)" placeholder="Search Dependent" >
              <button type="submit" class="submitButton"><img style="cursor: pointer;" src="../../../assets/search-icon.png" alt=""></button>
            </form>
            <button (click)="resetDependent()" class="resetDep">Reset</button>
          </div>
    </div>
    <div class="buttons">
        <button (click)="addEmployee()">Add Employee</button>
    </div>
    <div class="tables">
        <div class="employees">
            <table id="employeeTable">
                <thead>
                    <tr>
                        <th>SSN</th>
                        <th>First Name</th>
                        <th>Middle Initial</th>
                        <th>Last Name</th>
                        <th>Date Of Birth</th>
                        <th>Address</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let employee of employees">
                        <td (click)="editEmployee(employee.ssn)" class="link">{{ employee.ssn }}</td>
                        <td>{{ employee.Fname }}</td>
                        <td>{{ employee.Minit }}</td>
                        <td>{{ employee.Lname }}</td>
                        <td>{{ formatDob(employee.dob) }}</td>
                        <td>{{ employee.address }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="dependents">
            <table id="dependentTable">
                <thead>
                    <tr>
                        <th>SSN</th>
                        <th>Name</th>
                        <th>Relationship</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let dependent of dependents">
                        <td (click)="editDependent(dependent.ssn, dependent.name)" class="link">{{ dependent.ssn }}</td>
                        <td>{{ dependent.name }}</td>
                        <td>{{ dependent.relationship }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="message">
        <p *ngIf="message != ''">{{ message }}</p>
    </div>
</div>

